---
import { Icon } from "astro-icon/components";
import ProductSkillCard from "@/components/ProductSkillCard";
import { Card } from "@/components/ui/card";
import type { ProductSkills } from "@/i18n/data/product-skills";

interface Props {
  productSkills: ProductSkills;
  experiences: any[];
}

const { productSkills, experiences } = Astro.props;
---

<section class="mt-4 w-full">
  <p class="w-fit font-bold text-sm">{productSkills.title}</p>
  <section class="flex flex-col gap-4 mt-4">
    {
      productSkills.skills.map((skill) => (
        <ProductSkillCard 
          skill={skill} 
          experiences={experiences}
          client:load
        />
      ))
    }
  </section>
</section> 