---
import { Icon } from "astro-icon/components";
import SoftSkillCard from "@/components/SoftSkillCard";
import { Card } from "@/components/ui/card";
import type { SoftSkills } from "@/i18n/data/soft-skills";

interface Props {
  softSkills: SoftSkills;
  experiences: any[];
}

const { softSkills, experiences } = Astro.props;
---

<section class="mt-4 w-full">
  <p class="w-fit font-bold text-sm">{softSkills.title}</p>
  <section class="flex flex-col gap-4 mt-4">
    {
      softSkills.skills.map((skill) => (
        <SoftSkillCard 
          skill={skill} 
          experiences={experiences}
          client:load
        />
      ))
    }
  </section>
</section> 