---
import Head from "@/components/Head.astro";
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<Head />
<DefaultLayout>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} />
			<title>Guillaume CRESPEL - Développeur Full Stack</title>
		</head>
		<body>
			
		</body>
	</html>
</DefaultLayout>
