---
import BackgroundHalos from '../components/BackgroundHalos.astro';
import Head from '../components/Head.astro';
import '../styles/global.css';
---
<html lang="fr">
  <head>
    <Head />
    <slot name="head" />
  </head>
  <body>
    <BackgroundHalos />
    <main>
      <slot />
    </main>
  </body>
</html> 